<style>
    #banner_17178_0 .do-area-bg-conter .bgcolor {
        background-color: rgb(24, 24, 27);
    }

    #area_17178_0 .do-area-bg-conter .bgcolor {
        background-color: rgb(24, 24, 27);
    }

    #footer_17178_0 .do-area-bg-conter .bgcolor {
        background-color: rgba(157, 138, 121, 0.1);
    }

    .lt-ie9 #footer_17178_0 .do-area-bg-conter .bgcolor {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#199d8a79, endColorstr=#199d8a79)
    }
</style>
<div class="do-section fp-auto-height do-banner" data-fullname="BANNER">
    <div class="do-area" id="banner_17178_0">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="banner_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-24i3y">
                            <div class="do-element-space" style="padding-top:16.400000000000002%;"></div>
                        </div>
                        <div class="do-block do-text do-24i44">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><p style="text-align: center; line-height: 1.2;">
                                        <img class="fr-dib"
                                             src="{{'upload/file/'|base_url}}{{$designer.designer_pic}}"
                                             style="width: 50%"><br></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-24i3w">
                            <div class="do-element-space" style="padding-top:2.5%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="do-body">
    <div class="do-section do-area" id="area_17178_0" data-fullname="">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="area_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-text do-24jco">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content">
                                        <p style="text-align: center; line-height: 1.4;">
                                        <span style="color: rgb(255, 255, 255);">
                                            <span style="font-size: 48px;">{{$designer.designer}}</span>
                                        </span>
                                        </p>

                                        <p style="text-align: center; line-height: 1.4;">
                                            <span style="color: rgb(221, 221, 221);">
                                                <span style="font-size: 24px;">{{$designer.position}}</span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-24i48">
                            <div class="do-element-space" style="padding-top:2.5%;"></div>
                        </div>
                        <div class="do-block do-text do-24icj">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content">
                                        <p>
                                            <span style="color: rgb(255, 255, 255);"><span style="font-size: 20px;">个人介绍:{{$designer.intro}}</span></span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content">
                                        <p>
                                            <span style="color: rgb(255, 255, 255);"><span style="font-size: 20px;">从业年限:{{$designer.employ_time}}年</span></span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content">
                                        <p>
                                            <span style="color: rgb(255, 255, 255);"><span style="font-size: 20px;">毕业院校:{{$designer.school}}</span></span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="do-element-text do-element-general">

                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content">
                                        <p>
                                            <span style="color: rgb(255, 255, 255);"><span style="font-size: 20px;">擅长风格:{{$designer.expert}}</span></span>
                                        </p>

                                    </div>
                                </div>
                                <div class="do-element-text do-element-general">
                                    <div class="do-element-text-content do-html">
                                        <div class="do-html-content">
                                            <p>
                                                <span style="color: rgb(255, 255, 255);"><span style="font-size: 20px;">设计理念:{{$designer.idea}}</span></span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="do-element-text do-element-general">
                                    <div class="do-element-text-content do-html">
                                        <div class="do-html-content">
                                            <p>
                                                <span style="color: rgb(255, 255, 255);"><span style="font-size: 20px;">代表作品:{{$designer.works}}</span></span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="do-element-text do-element-general">
                                    <div class="do-element-text-content do-html">
                                        <div class="do-html-content">
                                            <p>
                                                <span style="color: rgb(255, 255, 255);"><span style="font-size: 20px;">所获荣誉:{{$designer.hornor}}</span></span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-24i46">
                                <div class="do-element-space" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-space do-24i3z">
                                <div class="do-element-space" style="padding-top:7.000000000000001%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        body .do-developers, .do-developers {
            color: #666 !important;
            width: 100% !important;
            height: 38px !important;
        }

        body .do-developers a, .do-developers a {
            color: #666 !important;
            display: inline-block !important;
        }

        body .do-developers a:hover, .do-developers a:hover {
            color: #000 !important;
        }

        body .do-developers, .do-developers {
            display: block !important;
            border-top: 1px solid #ecebeb !important;
            background: #f3f3f3 !important;
            padding: 12px !important;
            text-align: center !important;
            font-size: 13px !important;
            line-height: 100% !important;
            opacity: 1 !important;
            text-indent: 0 !important
        }

        body .do-developers i, .do-developers i {
            font-size: 13px !important;
            vertical-align: middle;
            position: relative;
            top: -1px
        }

        body .do-developers *, .do-developers * {
            opacity: 1 !important;
            text-indent: 0 !important;
            display: inline-block !important;
        }


    </style>
</div>
{{if $exams}}
<div class="do-section do-area do-area-full" id="area_17138_3" data-fullname="">
    <div class="do-area-bg ">
        <div class="do-area-bg-conter">
            <div class="bgcolor"></div>
        </div>
    </div>
    <div id="area_3" class="do-row do-row-one ">
        <div class="do-row ">
            <div class="do-col-12">
                <div class="do-panelcol">
                    <div class="do-block do-text do-24xr2">
                        <div class="do-element-text do-element-general">
                            <div class="do-element-text-content do-html">
                                <div class="do-html-content"><p style="text-align: center;"><span
                                        style="font-size: 20px;">设计师作品</span></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="do-block do-space do-24xr1">
                        <div class="do-element-space" style="padding-top:2.77602523659306%;"></div>
                    </div>
                    <div class="do-block do-list do-24xr0">
                        <div class="do-element-media x num2 phoneRows1 ">
                            <div class="do-element-media-content swiper-container do-list-swiper"
                                 id="swiper_24xr0" data-rows="2" data-phoneRows="1" data-initialSlide="4"
                                 data-slidesPerColumn="1">
                                <ul class="do-element-media-ul x do-content-grid ">
                                    {{foreach $exams as $exam}}
                                    <li class="do-element-media-li pgid-17125 " data-wow-delay=".0s"><a
                                            href="{{'home/case_desc'|base_url}}?case_id={{$exam.case_id}}">
                                        <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                            <div class="do-media-image-box o-mask">
                                                <div class="do-media-image"
                                                     style="padding-top:82.34552332912989%;">
                                                    <div class="do-media-image-conter"><img
                                                            class="scrollLoading" alt=""
                                                            data-src="{{'upload/file/'|base_url}}{{$exam.pic}}"
                                                            src="" style="margin-left: -4.88959%; margin-top: 0%; width: 109.779%; height: 100%;"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="do-title do-html-content">
                                                <div class="do-title-body">
                                                    <div class="do-title-content do-html-content">
                                                        <div class="do-html-content title"><p><strong><span>{{$exam.name}}</span></strong>
                                                        </p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a></li>
                                    {{/foreach}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}