{{foreach $exams as $exam}}
<div class="do-section fp-auto-height do-banner" data-fullname="BANNER">
    <div class="do-area do-area-fullHeight" id="banner_17093_0">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter"
                 style="background-image: url({{'/upload/file/'|base_url}}{{$exam.pic}});background-attachment:">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="banner_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-23g6o">
                            <div class="do-element-space" style="padding-top:25%;"></div>
                        </div>
                        <div class="do-block do-text do-23g3e">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><p><strong><span style="font-size: 36px;"><span
                                            style="color: rgb(255, 255, 255);">{{$exam.name}}</span></span></strong></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23g6n">
                            <div class="do-element-space" style="padding-top:1.3333333333333335%;"></div>
                        </div>
                        <div class="do-block do-text do-23b4p">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><p style="line-height: 1.2;"><span
                                            style="color: rgb(255, 255, 255);"><span style="font-size: 18px;font-weight: 500;">{{$exam.desc}}</span></span>
                                    </p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23g6m">
                            <div class="do-element-space" style="padding-top:1.6666666666666667%;"></div>
                        </div>
                        <div class="do-block do-button do-23b4n">
                            <div class="do-element-button" style="padding-top:45px;">
                                <div class="do-element-button-content">
                                    <div class="do-middle align-left">
                                        <div class="do-middle-center">
                                            <a href="{{'home/case_desc'|base_url}}?case_id={{$exam.case_id}}"
                                                                         class="do-btn sm hollow do-bg-white "><h5>
                                            查看更多</h5></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/foreach}}