{{foreach $pics as $pic}}
<div class="do-section fp-auto-height do-banner" data-fullname="BANNER">
    <div class="do-area do-area-fullHeight" >
        <div class="do-area-bg ">
            <div class="do-area-bg-conter"
                 style="background-image: url({{'upload/file/'|base_url}}{{$pic.pic}});background-attachment:">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="banner_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-245ar">
                            <div class="do-element-space" style="padding-top:25%;"></div>
                        </div>
                        <div class="do-block do-rows">
                            <!--<div class="do-row">-->
                                <!--<div class="do-col-2">-->
                                    <!--<div class="do-panelcol">-->
                                        <!--<div class="do-block do-text do-245ao">-->
                                            <!--<div class="do-element-text do-element-general">-->
                                                <!--<div class="do-element-text-content do-html">-->
                                                    <!--<div class="do-html-content"><p><span-->
                                                            <!--style="color: rgb(255, 255, 255);"><span-->
                                                            <!--style="font-size: 24px;"><strong>客户:</strong></span></span>-->
                                                    <!--</p>-->
                                                        <!--<p><span style="color: rgb(255, 255, 255);"><span-->
                                                                <!--style="font-size: 24px;"><strong>Jeffrey公司</strong></span></span>-->
                                                        <!--</p></div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="do-col-10">-->
                                    <!--<div class="do-panelcol">-->
                                        <!--<div class="do-block do-rows">-->
                                            <!--<div class="do-row">-->
                                                <!--<div class="do-col-2">-->
                                                    <!--<div class="do-panelcol">-->
                                                        <!--<div class="do-block do-text do-245an">-->
                                                            <!--<div class="do-element-text do-element-general">-->
                                                                <!--<div class="do-element-text-content do-html">-->
                                                                    <!--<div class="do-html-content"><p><span-->
                                                                            <!--style="color: rgb(255, 255, 255);"><span-->
                                                                            <!--style="font-size: 24px;"><strong>社区:</strong></span></span>-->
                                                                    <!--</p>-->
                                                                        <!--<p><span-->
                                                                                <!--style="color: rgb(255, 255, 255);"><span-->
                                                                                <!--style="font-size: 24px;"><strong>曼哈顿</strong></span></span>-->
                                                                        <!--</p></div>-->
                                                                <!--</div>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="do-col-8">-->
                                                    <!--<div class="do-panelcol">-->
                                                        <!--<div class="do-block do-text do-245am">-->
                                                            <!--<div class="do-element-text do-element-general">-->
                                                                <!--<div class="do-element-text-content do-html">-->
                                                                    <!--<div class="do-html-content"><p><span-->
                                                                            <!--style="color: rgb(255, 255, 255);"><span-->
                                                                            <!--style="font-size: 24px;"><strong>时间:</strong></span></span>-->
                                                                    <!--</p>-->
                                                                        <!--<p><span-->
                                                                                <!--style="color: rgb(255, 255, 255);"><span-->
                                                                                <!--style="font-size: 24px;"><strong>2014年</strong></span></span>-->
                                                                        <!--</p></div>-->
                                                                <!--</div>-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                        <div class="do-block do-space do-245aq">
                            <div class="do-element-space" style="padding-top:1.3333333333333335%;"></div>
                        </div>
                        <!--<div class="do-block do-text do-245ap">-->
                            <!--<div class="do-element-text do-element-general">-->
                                <!--<div class="do-element-text-content do-html">-->
                                    <!--<div class="do-html-content"><p style="line-height: 1.2;"><span-->
                                            <!--style="color: rgb(255, 255, 255);"><span style="font-size: 16px;">我们团队的商业游说团体变成一个大空间拥有16英尺的天花板上装了一个宁静石灰岩飞地。</span></span>-->
                                    <!--</p>-->
                                        <!--<p style="line-height: 1.2;"><span-->
                                                <!--style="color: rgb(255, 255, 255);"><span-->
                                                <!--style="font-size: 16px;">磨练和纹理的石灰石由线性湾照明强调,作为削减在天花板和墙壁。</span></span>-->
                                        <!--</p>-->
                                        <!--<p style="line-height: 1.2;"><span-->
                                                <!--style="color: rgb(255, 255, 255);"><span-->
                                                <!--style="font-size: 16px;">战略画天花板滴眼液新位于中心接待处裹在抛光大理石,玉石马赛克。&nbsp;</span></span>-->
                                        <!--</p>-->
                                        <!--<p style="line-height: 1.2;"><span-->
                                                <!--style="color: rgb(255, 255, 255);"><span-->
                                                <!--style="font-size: 16px;">温暖的调色板选择对比斯多葛派的颜色通常与商业空间相关联。&nbsp;</span></span>-->
                                        <!--</p>-->
                                        <!--<p style="line-height: 1.2;"><span-->
                                                <!--style="color: rgb(255, 255, 255);"><span-->
                                                <!--style="font-size: 16px;">为了达到所需的温暖,同时保持其作为企业空间,经典的材料,如磨练石灰岩被清洁并列,现代的线条。&nbsp;</span></span>-->
                                        <!--</p>-->
                                        <!--<p style="line-height: 1.2;"><span-->
                                                <!--style="color: rgb(255, 255, 255);"><span-->
                                                <!--style="font-size: 16px;">海豚湾照明在天花板上加上金色,hand-applied威尼斯灰泥增加戏剧和深度空间,同时保持中立的调色板的宁静感觉。</span></span>-->
                                        <!--</p></div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/foreach}}
<div class="do-section do-area do-area-full" id="area_17138_3" data-fullname="">
    <div class="do-area-bg ">
        <div class="do-area-bg-conter">
            <div class="bgcolor"></div>
        </div>
    </div>
    <div id="area_3" class="do-row do-row-one ">
        <div class="do-row ">
            <div class="do-col-12">
                <div class="do-panelcol">
                    <div class="do-block do-text do-24xr2">
                        <div class="do-element-text do-element-general">
                            <div class="do-element-text-content do-html">
                                <div class="do-html-content"><p style="text-align: center;"><span
                                        style="font-size: 20px;">查看其他案例</span></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="do-block do-space do-24xr1">
                        <div class="do-element-space" style="padding-top:2.77602523659306%;"></div>
                    </div>
                    <div class="do-block do-list do-24xr0">
                        <div class="do-element-media x num2 phoneRows1 ">
                            <div class="do-element-media-content swiper-container do-list-swiper"
                                 id="swiper_24xr0" data-rows="2" data-phoneRows="1" data-initialSlide="4"
                                 data-slidesPerColumn="1">
                                <ul class="do-element-media-ul x do-content-grid ">
                                    {{foreach $exams as $exam}}
                                    <li class="do-element-media-li pgid-17125 " data-wow-delay=".0s"><a
                                            href="{{'home/case_desc'|base_url}}?case_id={{$exam.case_id}}">
                                        <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                            <div class="do-media-image-box o-mask">
                                                <div class="do-media-image"
                                                     style="padding-top:82.34552332912989%;">
                                                    <div class="do-media-image-conter"><img
                                                            class="scrollLoading" alt=""
                                                            data-src="{{'upload/file/'|base_url}}{{$exam.pic}}"
                                                            src="" style="margin-left: -4.88959%; margin-top: 0%; width: 109.779%; height: 100%;"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="do-title do-html-content">
                                                <div class="do-title-body">
                                                    <div class="do-title-content do-html-content">
                                                        <div class="do-html-content title"><p><strong><span>{{$exam.name}}</span></strong>
                                                        </p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a></li>
                                    {{/foreach}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
