<div class="do-section fp-auto-height do-banner" data-fullname="BANNER">
    <div class="do-area do-area-fullHeight" id="banner_17093_0">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter"
                 style="background-image: url({{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}});background-attachment:">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="banner_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-23g6o">
                            <div class="do-element-space" style="padding-top:25%;"></div>
                        </div>
                        <div class="do-block do-text do-23g3e">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><p><strong><span style="font-size: 36px;"><span
                                            style="color: rgb(255, 255, 255);">简约欧式风</span></span></strong></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23g6n">
                            <div class="do-element-space" style="padding-top:1.3333333333333335%;"></div>
                        </div>
                        <div class="do-block do-text do-23b4p">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><p style="line-height: 1.2;"><span
                                            style="color: rgb(255, 255, 255);"><span style="font-size: 16px;">完美沿袭欧洲古典装饰理念，融入了现代的生活元素，并且风格多样化。</span></span>
                                    </p>
                                        <p style="line-height: 1.2;"><span style="color: rgb(255, 255, 255);"><span
                                                style="font-size: 16px;">从整体到局部、从空间到室内陈设塑造，舒缓柔美。</span></span></p>
                                        <p style="line-height: 1.2;"><span style="color: rgb(255, 255, 255);"><span
                                                style="font-size: 16px;">体现欧洲传统的历史痕迹与深厚的文化底蕴，凸显了简单舒适的生活气息。</span></span>
                                        </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23g6m">
                            <div class="do-element-space" style="padding-top:1.6666666666666667%;"></div>
                        </div>
                        <div class="do-block do-button do-23b4n">
                            <div class="do-element-button" style="padding-top:45px;">
                                <div class="do-element-button-content">
                                    <div class="do-middle align-left">
                                        <div class="do-middle-center"><a href="{{'home/case_desc'|base_url}} " target="_blank"
                                                                         class="do-btn sm hollow do-bg-white "><h5>
                                            查看更多</h5></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="do-section do-area do-area-fullHeight" id="area_17093_0" data-fullname="">
    <div class="do-area-bg ">
        <div class="do-area-bg-conter"
             style="background-image: url({{'static/images/dca5472186b5cfd16ca6f3b27d88211d.jpg'|base_url}});background-attachment:">
            <div class="bgcolor"></div>
        </div>
    </div>
    <div id="area_0" class="do-row do-row-one ">
        <div class="do-row ">
            <div class="do-col-12">
                <div class="do-panelcol">
                    <div class="do-block do-space do-23b4w">
                        <div class="do-element-space" style="padding-top:25%;"></div>
                    </div>
                    <div class="do-block do-text do-23b4v">
                        <div class="do-element-text do-element-general">
                            <div class="do-element-text-content do-html">
                                <div class="do-html-content"><p><span style="color: rgb(255, 255, 255);"><span
                                        style="font-size: 36px;"><strong>美式古典</strong></span></span></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="do-block do-space do-23b4u">
                        <div class="do-element-space" style="padding-top:1.3333333333333335%;"></div>
                    </div>
                    <div class="do-block do-text do-23b4t">
                        <div class="do-element-text do-element-general">
                            <div class="do-element-text-content do-html">
                                <div class="do-html-content"><p style="line-height: 1.2;"><span
                                        style="color: rgb(255, 255, 255);"><span
                                        style="font-size: 16px;">简洁、明晰，优雅、得体：</span></span></p>
                                    <p style="line-height: 1.2;"><span style="color: rgb(255, 255, 255);"><span
                                            style="font-size: 16px;">美式古典风格是众多风格中的一种，在传承欧式文化的基础上结合了美国自身文化的特点，</span></span>
                                    </p>
                                    <p style="line-height: 1.2;"><span style="color: rgb(255, 255, 255);"><span
                                            style="font-size: 16px;">而形成的自己更格，其实它的风格是一种混合风格。</span></span></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="do-block do-space do-23b4s">
                        <div class="do-element-space" style="padding-top:1.6666666666666667%;"></div>
                    </div>
                    <div class="do-block do-button do-23b4r">
                        <div class="do-element-button" style="padding-top:45px;">
                            <div class="do-element-button-content">
                                <div class="do-middle align-left">
                                    <div class="do-middle-center"><a href="{{'home/case_desc'|base_url}}"
                                                                     class="do-btn sm hollow do-bg-white "><h5>
                                        查看更多</h5></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="do-section do-area do-area-fullHeight" id="area_17093_1" data-fullname="">
    <div class="do-area-bg ">
        <div class="do-area-bg-conter"
             style="background-image: url({{'static/images/11634cb1ca829c5dc9bfbc7cd7117d0f.jpeg'|base_url}});background-attachment:">
            <div class="bgcolor"></div>
        </div>
    </div>
    <div id="area_1" class="do-row do-row-one ">
        <div class="do-row ">
            <div class="do-col-12">
                <div class="do-panelcol">
                    <div class="do-block do-space do-23g3m">
                        <div class="do-element-space" style="padding-top:25%;"></div>
                    </div>
                    <div class="do-block do-text do-23g3l">
                        <div class="do-element-text do-element-general">
                            <div class="do-element-text-content do-html">
                                <div class="do-html-content"><p><span style="color: rgb(255, 255, 255);"><span
                                        style="font-size: 36px;"><strong>时尚混搭</strong></span></span></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="do-block do-space do-23g3w">
                        <div class="do-element-space" style="padding-top:1.3333333333333335%;"></div>
                    </div>
                    <div class="do-block do-text do-23g3o">
                        <div class="do-element-text do-element-general">
                            <div class="do-element-text-content do-html">
                                <div class="do-html-content"><p style="line-height: 1.2;"><span
                                        style="font-size: 16px;"><span style="color: rgb(255, 255, 255);">室内布置中也有既趋于现代实用，又吸取传统的特征，在装潢与陈设中溶古今中西于一体。</span></span>
                                </p>
                                    <p style="line-height: 1.2;"><span style="font-size: 16px;"><span
                                            style="color: rgb(255, 255, 255);">在这里兴邦装饰设计师要提醒您一点，混搭要适度。否则在视觉上会让人觉得十分混乱。</span></span>
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="do-block do-space do-23g3k">
                        <div class="do-element-space" style="padding-top:1.6666666666666667%;"></div>
                    </div>
                    <div class="do-block do-button do-23g3n">
                        <div class="do-element-button" style="padding-top:45px;">
                            <div class="do-element-button-content">
                                <div class="do-middle align-left">
                                    <div class="do-middle-center"><a href="{{'home/case_desc'|base_url}}"
                                                                     class="do-btn sm hollow do-bg-white "><h5>
                                        查看更多</h5></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="do-section do-area do-area-fullHeight" id="area_17093_2" data-fullname="">
    <div class="do-area-bg ">
        <div class="do-area-bg-conter"
             style="background-image: url({{'static/images/e0d4c1ba09fadc8b3021ba91ee5fe48b.jpeg'|base_url}}); background-attachment:">
            <div class="bgcolor"></div>
        </div>
    </div>
    <div id="area_2" class="do-row do-row-one ">
        <div class="do-row ">
            <div class="do-col-12">
                <div class="do-panelcol">
                    <div class="do-block do-space do-23b4m">
                        <div class="do-element-space" style="padding-top:25%;"></div>
                    </div>
                    <div class="do-block do-text do-23b4l">
                        <div class="do-element-text do-element-general">
                            <div class="do-element-text-content do-html">
                                <div class="do-html-content"><p><span style="color: rgb(255, 255, 255);"><span
                                        style="font-size: 36px;"><strong>欧式古典</strong></span></span></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="do-block do-space do-23b4k">
                        <div class="do-element-space" style="padding-top:1.3333333333333335%;"></div>
                    </div>
                    <div class="do-block do-text do-23b4j">
                        <div class="do-element-text do-element-general">
                            <div class="do-element-text-content do-html">
                                <div class="do-html-content"><p style="line-height: 1.2;"><span
                                        style="color: rgb(255, 255, 255);"><span
                                        style="font-size: 16px;">尊贵典雅气息处处流露：</span></span></p>
                                    <p style="line-height: 1.2;"><span style="color: rgb(255, 255, 255);"><span
                                            style="font-size: 16px;">欧式风格主要是指西洋古典风格。这种风格强调以华丽的装饰、浓烈的色彩、精美的造型达到雍容华贵的装饰效果。</span></span>
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="do-block do-space do-23b4i">
                        <div class="do-element-space" style="padding-top:1.6666666666666667%;"></div>
                    </div>
                    <div class="do-block do-button do-23b4h">
                        <div class="do-element-button" style="padding-top:45px;">
                            <div class="do-element-button-content">
                                <div class="do-middle align-left">
                                    <div class="do-middle-center"><a href="{{'home/case_desc'|base_url}}"
                                                                     class="do-btn sm hollow do-bg-white "><h5>
                                        查看更多</h5></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="do-section do-area do-area-fullHeight" id="area_17093_3" data-fullname="">
    <div class="do-area-bg ">
        <div class="do-area-bg-conter"
             style="background-image: url({{'static/images/de87bcbf378abc9a3f36744b3329d7c9.jpg'|base_url}});background-attachment:">
            <div class="bgcolor"></div>
        </div>
    </div>
    <div id="area_3" class="do-row do-row-one ">
        <div class="do-row ">
            <div class="do-col-12">
                <div class="do-panelcol">
                    <div class="do-block do-space do-23b4g">
                        <div class="do-element-space" style="padding-top:25%;"></div>
                    </div>
                    <div class="do-block do-text do-23b4f">
                        <div class="do-element-text do-element-general">
                            <div class="do-element-text-content do-html">
                                <div class="do-html-content"><p><span style="color: rgb(255, 255, 255);"><span
                                        style="font-size: 36px;"><strong>地中海</strong></span></span></p></div>
                            </div>
                        </div>
                    </div>
                    <div class="do-block do-space do-23b4e">
                        <div class="do-element-space" style="padding-top:1.3333333333333335%;"></div>
                    </div>
                    <div class="do-block do-text do-23b4d">
                        <div class="do-element-text do-element-general">
                            <div class="do-element-text-content do-html">
                                <div class="do-html-content"><p style="line-height: 1.2;"><span
                                        style="font-size: 16px;"><span
                                        style="color: rgb(255, 255, 255);">享受碧海蓝天的清爽：</span></span></p>
                                    <p style="line-height: 1.2;"><span style="font-size: 16px;"><span
                                            style="color: rgb(255, 255, 255);">地中海风格具有着独特的美学特点。一般选择自然的柔和色彩，在组合地中海风格作品地中海风格</span></span>
                                    </p>
                                    <p style="line-height: 1.2;"><span style="font-size: 16px;"><span
                                            style="color: rgb(255, 255, 255);">作品设计上注意空间搭配，充分利用每一寸空间，集装饰与应用于一体，在组合搭配上避免琐碎，</span></span>
                                    </p>
                                    <p style="line-height: 1.2;"><span style="font-size: 16px;"><span
                                            style="color: rgb(255, 255, 255);">显得大方、自然，散发出的古老尊贵的田园气息和文化品位。</span></span>
                                    </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="do-block do-space do-23b4c">
                        <div class="do-element-space" style="padding-top:1.6666666666666667%;"></div>
                    </div>
                    <div class="do-block do-button do-23b4b">
                        <div class="do-element-button" style="padding-top:45px;">
                            <div class="do-element-button-content">
                                <div class="do-middle align-left">
                                    <div class="do-middle-center"><a href="{{'home/case_desc'|base_url}}"
                                                                     class="do-btn sm hollow do-bg-white "><h5>
                                        查看更多</h5></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>