<div class="do-section fp-auto-height do-banner" data-fullname="BANNER">
    <div class="do-area" id="banner_17099_0">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="banner_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-23mo3">
                            <div class="do-element-space" style="padding-top:8%;"></div>
                        </div>
                        <div class="do-block do-text do-23mo9">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><p style="text-align: center; line-height: 1.2;"><span
                                            style="color: rgb(255, 255, 255);"><span style="font-size: 16px;"><strong>干净的线条，自然的材料，和一个简约的感觉吸引我们的目光。</strong></span></span>
                                    </p>
                                        <p style="text-align: center; line-height: 1.2;"><span
                                                style="color: rgb(255, 255, 255);"><span
                                                style="font-size: 16px;"><strong>看看我们在做什么，什么激励着我们，什么在我们的日常工作中继续。</strong></span></span>
                                        </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23mo1">
                            <div class="do-element-space" style="padding-top:2.5%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="do-body">
    <div class="do-section do-area" id="area_17099_0" data-fullname="">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="area_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-23mo7">
                            <div class="do-element-space" style="padding-top:4.166666666666666%;"></div>
                        </div>
                        <div class="do-block do-list do-23mo6">
                            <div class="do-element-media x num3 phoneRows1 ">
                                <div class="do-element-media-content sm" id="swiper_23mo6" data-rows="3"
                                     data-phoneRows="1" data-initialSlide="0" data-slidesPerColumn="1">
                                    <ul class="do-element-media-ul x do-content-grid ">
                                        <li class="do-element-media-li " data-wow-delay=".0s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/b83968a9165a73b7d6012ffe40440795.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".1s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/bf0db064986532da70aeff4b42655721.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".2s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/53e19d228183521566e13a669ea8db4a.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".3s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/cb015a0822fa28dbe7ad96bc0ee4b699.jpg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".4s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/3302ddee79d1c034ef83fb022c0719e6.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".5s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/a4a56209afa56b501a15ebc093ae77c4.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".6s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/e7e4b48055d5edac330a250d79aaab20.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".7s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/7f34f70c66dc3b7495e7a91f13d6f13a.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".8s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/4e8f1d3ef59785b91b0aefadac3497f8.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".9s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/dce037c34408fa33781ee77183a0dfb6.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".10s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/c0a401c6e3751a45d19229f8a6a8e209.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".11s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/aa4cf90ce480298cc62b42a77bd55e41.jpg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".12s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/f6d394b0e1cefae851afda4f3bf87c81.jpg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".13s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/c43fc35e8d826f17b316d637605d5c8c.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="do-element-media-li " data-wow-delay=".14s">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/2e0bd76231897855ad9c726c4b57bae5.jpeg'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23mo4">
                            <div class="do-element-space" style="padding-top:6.666666666666667%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>