<div class="do-section fp-auto-height do-banner" data-fullname="BANNER">
    <div class="do-area" id="banner_17099_0">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="banner_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-23mo3">
                            <div class="do-element-space" style="padding-top:8%;"></div>
                        </div>
                        <div class="do-block do-text do-23mo9">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><p style="text-align: center; line-height: 1.2;"><span
                                            style="color: rgb(255, 255, 255);"><span style="font-size: 16px;"><strong>干净的线条，自然的材料，和一个简约的感觉吸引我们的目光。</strong></span></span>
                                    </p>
                                        <p style="text-align: center; line-height: 1.2;"><span
                                                style="color: rgb(255, 255, 255);"><span
                                                style="font-size: 16px;"><strong>看看我们在做什么，什么激励着我们，什么在我们的日常工作中继续。</strong></span></span>
                                        </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23mo1">
                            <div class="do-element-space" style="padding-top:2.5%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="do-body">
    <div class="do-section do-area" id="area_17099_0" data-fullname="">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="area_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-23mo7">
                            <div class="do-element-space" style="padding-top:4.166666666666666%;"></div>
                        </div>
                        <div class="do-block do-list do-23mo6">
                            <div class="do-element-media x num3 phoneRows1 ">
                                <div class="do-element-media-content sm" id="swiper_23mo6" data-rows="3"
                                     data-phoneRows="1" data-initialSlide="0" data-slidesPerColumn="1">
                                    <ul class="do-element-media-ul x do-content-grid ">
                                        {{foreach $pics as $pic}}
                                        <li class="do-element-media-li ">
                                            <div class="do-element-media-conter clearfix ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:80.21108179419525%;">
                                                        <div class="do-media-image-conter sizeimg4 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'upload/file/'|base_url}}{{$pic.pic}}"
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {{/foreach}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23mo4">
                            <div class="do-element-space" style="padding-top:6.666666666666667%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>