<div class="do-section fp-auto-height do-banner">
    <div class="do-area-bg ">
        <div class="do-area-bg-conter"
             style="background-image: url({{'/upload/file/'|base_url}}{{$exam.pic}});background-attachment:">
            <div class="bgcolor"></div>
        </div>
    </div>
    <div class="sty-row">
        <div class="do-block do-list do-24xr0">
            <div class="do-element-media x num2 phoneRows1 ">
                <div class="do-element-media-content swiper-container do-list-swiper"
                     id="swiper_24xr0" data-rows="2" data-phoneRows="1" data-initialSlide="4"
                     data-slidesPerColumn="1">
                    <ul class="do-element-media-ul x do-content-grid ">
                        <li class="do-element-media-li pgid-17125 " data-wow-delay=".0s">
                            <a href="{{'home/case_desc'|base_url}}?case_id={{$exam.case_id}}">
                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                <div class="do-media-image-box o-mask">
                                    <div class="do-media-image"
                                         style="padding-top:82.34552332912989%;">
                                        <div class="do-media-image-conter"><img
                                                class="scrollLoading" alt=""
                                                data-src="{{'upload/file/'|base_url}}{{$exam.pic}}"
                                                src="" style="margin-left: -4.88959%; margin-top: 0%; width: 109.779%; height: 100%;"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="do-title do-html-content">
                                    <div class="do-title-body">
                                        <div class="do-title-content do-html-content">
                                            <div class="do-html-content title"><p><strong><span>{{$exam.name}}</span></strong>
                                            </p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li class="do-element-media-li pgid-17125 " data-wow-delay=".0s">
                            <a href="{{'home/case_desc'|base_url}}?case_id={{$exam.case_id}}">
                                <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                    <div class="do-media-image-box o-mask">
                                        <div class="do-media-image"
                                             style="padding-top:82.34552332912989%;">
                                            <div class="do-media-image-conter"><img
                                                    class="scrollLoading" alt=""
                                                    data-src="{{'upload/file/'|base_url}}{{$exam.pic}}"
                                                    src="" style="margin-left: -4.88959%; margin-top: 0%; width: 109.779%; height: 100%;"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-title do-html-content">
                                        <div class="do-title-body">
                                            <div class="do-title-content do-html-content">
                                                <div class="do-html-content title"><p><strong><span>{{$exam.name}}</span></strong>
                                                </p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="do-element-media-li pgid-17125 " data-wow-delay=".0s">
                            <a href="{{'home/case_desc'|base_url}}?case_id={{$exam.case_id}}">
                                <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                    <div class="do-media-image-box o-mask">
                                        <div class="do-media-image"
                                             style="padding-top:82.34552332912989%;">
                                            <div class="do-media-image-conter"><img
                                                    class="scrollLoading" alt=""
                                                    data-src="{{'upload/file/'|base_url}}{{$exam.pic}}"
                                                    src="" style="margin-left: -4.88959%; margin-top: 0%; width: 109.779%; height: 100%;"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-title do-html-content">
                                        <div class="do-title-body">
                                            <div class="do-title-content do-html-content">
                                                <div class="do-html-content title"><p><strong><span>{{$exam.name}}</span></strong>
                                                </p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="do-element-media-li pgid-17125 " data-wow-delay=".0s">
                            <a href="{{'home/case_desc'|base_url}}?case_id={{$exam.case_id}}">
                                <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                    <div class="do-media-image-box o-mask">
                                        <div class="do-media-image"
                                             style="padding-top:82.34552332912989%;">
                                            <div class="do-media-image-conter"><img
                                                    class="scrollLoading" alt=""
                                                    data-src="{{'upload/file/'|base_url}}{{$exam.pic}}"
                                                    src="" style="margin-left: -4.88959%; margin-top: 0%; width: 109.779%; height: 100%;"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-title do-html-content">
                                        <div class="do-title-body">
                                            <div class="do-title-content do-html-content">
                                                <div class="do-html-content title"><p><strong><span>{{$exam.name}}</span></strong>
                                                </p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--<div class="style-cont">-->
            <!--<div class="style-list">-->
                <!--<a-->
                        <!--href="{{'home/case_desc'|base_url}}?case_id={{$exam.case_id}}">-->
                    <!--<div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">-->
                        <!--<div class="do-media-image-box o-mask">-->
                            <!--<div class="do-media-image"-->
                                 <!--style="padding-top:82.34552332912989%;">-->
                                <!--<div class="do-media-image-conter"><img-->
                                        <!--class="scrollLoading" alt=""-->
                                        <!--data-src="{{'upload/file/'|base_url}}{{$exam.pic}}"-->
                                        <!--src="" style="margin-left: -4.88959%; margin-top: 0%; width: 109.779%; height: 100%;"/>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="style-list">-->
                <!--<a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="style-cont">-->
            <!--<div class="style-list">-->
                <!--<a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>-->

            <!--</div>-->
            <!--<div class="style-list">-->
                <!--<a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="style-cont">-->
            <!--<div class="style-list">-->
                <!--<a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>-->

            <!--</div>-->
            <!--<div class="style-list">-->
                <!--<a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="style-cont">-->
            <!--<div class="style-list">-->
                <!--<a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>-->

            <!--</div>-->
            <!--<div class="style-list">-->
                <!--<a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>-->

            <!--</div>-->
        <!--</div>-->
    </div>
</div>