<div class="do-section fp-auto-height do-banner">
    <div class="sty-row">
        {{foreach $exams as $exam}}
        {{if $exam}}
        <div class="style-cont">
            <a href="{{'home/classic_case'|base_url}}?style_id={{$exam.style_id}}">
                <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                    <div class="do-media-image-box o-mask">
                        <div class="do-media-image">
                            <div class="">
                                <img class="scrollLoading" alt="" data-src="{{'upload/file/'|base_url}}{{$exam.pic}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="do-title do-html-content">
                        <div class="do-title-body">
                            <div class="do-title-content do-html-content">
                                <div class="do-html-content title"><p><strong><span>{{$exam.name}}</span></strong>
                                </p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {{/if}}
        {{/foreach}}
    </div>
</div>
</div>