<div class="do-section fp-auto-height do-banner">
    <div class="do-area-bg ">
        <div class="do-area-bg-conter"
             style="background-image: url({{'/upload/file/'|base_url}}{{$exam.pic}});background-attachment:">
            <div class="bgcolor"></div>
        </div>
    </div>
    <div class="sty-row">
        <div class="style-cont">
            <div class="style-list">
                <a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>

            </div>
            <div class="style-list">
                <a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>

            </div>
        </div>
        <div class="style-cont">
            <div class="style-list">
                <a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>

            </div>
            <div class="style-list">
                <a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>

            </div>
        </div>
        <div class="style-cont">
            <div class="style-list">
                <a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>

            </div>
            <div class="style-list">
                <a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>

            </div>
        </div>
        <div class="style-cont">
            <div class="style-list">
                <a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>

            </div>
            <div class="style-list">
                <a href="{{'home/classic_case'|base_url}}"><img src="{{'static/images/81e9f87cd4f00bfc47ad063caebfec41.jpg'|base_url}}"></a>

            </div>
        </div>
    </div>
</div>