<div class="do-section fp-auto-height do-banner" data-fullname="BANNER">
    <div class="do-area" id="banner_17098_0">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="banner_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-23b48">
                            <div class="do-element-space" style="padding-top:8%;"></div>
                        </div>
                        <div class="do-block do-text do-23lcs">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><p style="text-align: center; line-height: 1.2;"><span
                                            style="color: rgb(255, 255, 255);"><span style="font-size: 16px;"><strong>我们团队的专业知识涵盖了室内设计的各个方面。从概念驱动的设计，以指导一个美丽的完成安装，</strong></span></span>
                                    </p>
                                        <p style="text-align: center; line-height: 1.2;"><span
                                                style="color: rgb(255, 255, 255);"><span
                                                style="font-size: 16px;"><strong>我们是一个多纪律的团队致力于创造创新的设计和卓越的产品为我们的客户。</strong></span></span>
                                        </p>
                                        <p style="text-align: center; line-height: 1.2;"><span
                                                style="color: rgb(255, 255, 255);"><span
                                                style="font-size: 16px;"><strong>您的满意使我们的最大的荣幸！</strong></span></span>
                                        </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23b46">
                            <div class="do-element-space" style="padding-top:2.5%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="do-body">
    <div class="do-section do-area" id="area_17098_0" data-fullname="">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="area_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-23l9z">
                            <div class="do-element-space" style="padding-top:4.166666666666666%;"></div>
                        </div>
                        <div class="do-block do-list do-240t4">
                            <div class="do-element-media x num4 phoneRows1 ">
                                <div class="do-element-media-content " id="swiper_240t4" data-rows="3"
                                     data-phoneRows="1" data-initialSlide="0" data-slidesPerColumn="1">
                                    <ul class="do-element-media-ul x do-content-grid ">
                                        <li class="do-element-media-li pgid-17178 " data-wow-delay=".0s"><a
                                                href="/17178.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image">
                                                        <div class="sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center">
                                                                    <img class="scrollLoading"
                                                                         data-src="{{'static/design/周文诩.jpg'|base_url}}"  style="width: 100%" alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>周文诩</h1></div>
                                                            <div class="do-html-content des"><p><span>总监</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="do-element-media-li pgid-17178 " data-wow-delay=".0s"><a
                                                href="/17178.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image">
                                                        <div class="sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center">
                                                                    <img class="scrollLoading"
                                                                         data-src="{{'static/design/方芳.jpg'|base_url}}"  style="width: 100%" alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>方芳</h1></div>
                                                            <div class="do-html-content des"><p><span>首席设计师</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="do-element-media-li pgid-17178 " data-wow-delay=".0s"><a
                                                href="/17178.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image">
                                                        <div class="sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center">
                                                                    <img class="scrollLoading"
                                                                         data-src="{{'static/design/王郎-2.jpg'|base_url}}"  style="width: 100%" alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>王郎</h1></div>
                                                            <div class="do-html-content des"><p><span>资深设计师</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="do-element-media-li pgid-17178 " data-wow-delay=".0s"><a
                                                href="/17178.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image">
                                                        <div class="sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center">
                                                                    <img class="scrollLoading"
                                                                         data-src="{{'static/design/柯慧慧-2.jpg'|base_url}}"  style="width: 100%" alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>柯慧慧</h1></div>
                                                            <div class="do-html-content des"><p><span>资深设计师</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-list do-240t2">
                            <div class="do-element-media x num2 phoneRows1 ">
                                <div class="do-element-media-content " id="swiper_240t2" data-rows="4"
                                     data-phoneRows="1" data-initialSlide="0" data-slidesPerColumn="1">
                                    <ul class="do-element-media-ul x do-content-grid ">
                                        <li class="do-element-media-li pgid-17191 " data-wow-delay=".0s"><a
                                                href="/17191.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image">
                                                        <div class="sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img
                                                                        class="scrollLoading"
                                                                        data-src="{{'static/design/刘伯琛-2.jpg'|base_url}}"
                                                                        alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>刘伯琛</h1>
                                                            </div>
                                                            <div class="do-html-content des"><p><span>首席设计师</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="do-element-media-li pgid-17191 " data-wow-delay=".0s"><a
                                                href="/17191.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image">
                                                        <div class="sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img
                                                                        class="scrollLoading"
                                                                        data-src="{{'static/design/郝亚龙-2.jpg'|base_url}}"
                                                                        alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>郝亚龙</h1>
                                                            </div>
                                                            <div class="do-html-content des"><p><span>资深设计师</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23l9p">
                            <div class="do-element-space" style="padding-top:7.000000000000001%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>