<div class="do-section fp-auto-height do-banner" data-fullname="BANNER">
    <div class="do-area" id="banner_17098_0">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="banner_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-23b48">
                            <div class="do-element-space" style="padding-top:16.400000000000002%;"></div>
                        </div>
                        <div class="do-block do-text do-23b47">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><p style="text-align: center; line-height: 1.2;">
                                        <strong><span style="font-family: Arial,Helvetica,sans-serif;"><span
                                                style="font-size: 48px;"><span style="color: rgb(255, 255, 255);">Designing premier residential &amp;&nbsp;</span></span></span></strong>
                                    </p>
                                        <p style="text-align: center; line-height: 1.2;"><strong><span
                                                style="font-family: Arial,Helvetica,sans-serif;"><span
                                                style="font-size: 48px;"><span style="color: rgb(255, 255, 255);">commercial buildings in NYC.</span></span></span></strong>
                                        </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23lcr">
                            <div class="do-element-space" style="padding-top:5%;"></div>
                        </div>
                        <div class="do-block do-text do-23lcs">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><p style="text-align: center; line-height: 1.2;"><span
                                            style="color: rgb(255, 255, 255);"><span style="font-size: 16px;"><strong>我们团队的专业知识涵盖了室内设计的各个方面。从概念驱动的设计，以指导一个美丽的完成安装，</strong></span></span>
                                    </p>
                                        <p style="text-align: center; line-height: 1.2;"><span
                                                style="color: rgb(255, 255, 255);"><span
                                                style="font-size: 16px;"><strong>我们是一个多纪律的团队致力于创造创新的设计和卓越的产品为我们的客户。</strong></span></span>
                                        </p>
                                        <p style="text-align: center; line-height: 1.2;"><span
                                                style="color: rgb(255, 255, 255);"><span
                                                style="font-size: 16px;"><strong>您的满意使我们的最大的荣幸！</strong></span></span>
                                        </p></div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23b46">
                            <div class="do-element-space" style="padding-top:2.5%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="do-body">
    <div class="do-section do-area" id="area_17098_0" data-fullname="">
        <div class="do-area-bg ">
            <div class="do-area-bg-conter">
                <div class="bgcolor"></div>
            </div>
        </div>
        <div id="area_0" class="do-row do-row-one ">
            <div class="do-row ">
                <div class="do-col-12">
                    <div class="do-panelcol">
                        <div class="do-block do-space do-23l9z">
                            <div class="do-element-space" style="padding-top:4.166666666666666%;"></div>
                        </div>
                        <div class="do-block do-list do-240t4">
                            <div class="do-element-media x num3 phoneRows1 ">
                                <div class="do-element-media-content " id="swiper_240t4" data-rows="3"
                                     data-phoneRows="1" data-initialSlide="0" data-slidesPerColumn="1">
                                    <ul class="do-element-media-ul x do-content-grid ">
                                        <li class="do-element-media-li pgid-17178 " data-wow-delay=".0s"><a
                                                href="/17178.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:65%;">
                                                        <div class="do-media-image-conter sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/13ef9c99af4c1f9e6c71f5f2f9a90346.png'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>Kathryn Harris</h1>
                                                            </div>
                                                            <div class="do-html-content des"><p><span
                                                                    style="font-size: 16px;">导演</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="do-element-media-li pgid-17179 " data-wow-delay=".1s"><a
                                                href="/17179.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:65%;">
                                                        <div class="do-media-image-conter sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/283e9b80bba7773fd47e50af427c7f20.png'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>Rose Baker</h1></div>
                                                            <div class="do-html-content des"><p><span
                                                                    style="font-size: 16px;">高级设计师</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="do-element-media-li pgid-17181 " data-wow-delay=".2s"><a
                                                href="/17181.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:65%;">
                                                        <div class="do-media-image-conter sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/33801a741fb24fad70ba3e9ad954270d.png'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>Judith Fernandez</h1>
                                                            </div>
                                                            <div class="do-html-content des"><p><span
                                                                    style="font-size: 16px;">客户经理</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-list do-240t2">
                            <div class="do-element-media x num4 phoneRows1 ">
                                <div class="do-element-media-content " id="swiper_240t2" data-rows="4"
                                     data-phoneRows="1" data-initialSlide="0" data-slidesPerColumn="1">
                                    <ul class="do-element-media-ul x do-content-grid ">
                                        <li class="do-element-media-li pgid-17191 " data-wow-delay=".0s"><a
                                                href="/17191.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:64.66666666666666%;">
                                                        <div class="do-media-image-conter sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/4ca8fc48a3c1b25ed94e254a58af7bda.png'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>Grace Stone</h1>
                                                            </div>
                                                            <div class="do-html-content des"><p><span
                                                                    style="font-size: 16px;">技术经理</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="do-element-media-li pgid-17194 " data-wow-delay=".1s"><a
                                                href="/17194.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:64.66666666666666%;">
                                                        <div class="do-media-image-conter sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/0cfa34f228ba4fea75d8651ad783746c.png'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>Debra Watkins</h1>
                                                            </div>
                                                            <div class="do-html-content des"><p><span
                                                                    style="font-size: 16px;">设计师</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="do-element-media-li pgid-17195 " data-wow-delay=".2s"><a
                                                href="/17195.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:64.66666666666666%;">
                                                        <div class="do-media-image-conter sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/149dcad6cf32869c7381d60199ebe7ae.png'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>Judith Tucker</h1>
                                                            </div>
                                                            <div class="do-html-content des"><p><span
                                                                    style="font-size: 16px;">高级设计师</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                        <li class="do-element-media-li pgid-17196 " data-wow-delay=".3s"><a
                                                href="/17196.html">
                                            <div class="do-element-media-conter clearfix do-caption-overlay-hover-cover ">
                                                <div class="do-media-image-box o-mask">
                                                    <div class="do-media-image" style="padding-top:64.66666666666666%;">
                                                        <div class="do-media-image-conter sizeimg5 ">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center"><img class="scrollLoading"
                                                                                                   data-src="{{'static/images/757a2e42b5b7eae6746a639b15b6d772.png'|base_url}}"
                                                                                                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                                                   alt=""/></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="do-title do-html-content">
                                                    <div class="do-title-body">
                                                        <div class="do-title-content do-html-content">
                                                            <div class="do-html-content title"><h1>Carol Fields</h1>
                                                            </div>
                                                            <div class="do-html-content des"><p><span
                                                                    style="font-size: 16px;">设计师</span></p></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23lz0">
                            <div class="do-element-space" style="padding-top:5%;"></div>
                        </div>
                        <div class="do-block do-text do-23lyz">
                            <div class="do-element-text do-element-general">
                                <div class="do-element-text-content do-html">
                                    <div class="do-html-content"><h1 style="text-align: center; line-height: 1;"><span
                                            style="color: rgb(255, 255, 255);">Kathryn Harris</span></h1>
                                        <p style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">导演</span></p>
                                        <p style="text-align: center; line-height: 1;"><br></p>
                                        <h1 style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">Rose Baker</span></h1>
                                        <p style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">高级设计师</span></p>
                                        <p style="text-align: center; line-height: 1;"><br></p>
                                        <h1 style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">Judith Fernandez</span></h1>
                                        <p style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">客户经理</span></p>
                                        <p style="text-align: center; line-height: 1;"><br></p>
                                        <h1 style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">Grace Stone</span></h1>
                                        <p style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">技术经理</span></p>
                                        <p style="text-align: center; line-height: 1;"><br></p>
                                        <h1 style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">Debra Watkins</span></h1>
                                        <p style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">设计师</span></p>
                                        <p style="text-align: center; line-height: 1;"><br></p>
                                        <h1 style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">Judith Tucker</span></h1>
                                        <p style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">高级设计师</span></p>
                                        <p style="text-align: center; line-height: 1;"><br></p>
                                        <h1 style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">Carol Fields</span></h1>
                                        <p style="text-align: center; line-height: 1;"><span
                                                style="color: rgb(255, 255, 255);">设计师</span></p></div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23lyy">
                            <div class="do-element-space" style="padding-top:5%;"></div>
                        </div>
                        <div class="do-block do-image do-23lyx">
                            <div class="do-element-image do-element-media">
                                <div class="do-element-image-content do-html" style="padding-top:41.083333333333336%;">
                                    <div class="do-image-href sizeimg4 ">
                                        <div class="do-middle">
                                            <div class="do-middle-center"><img class="scrollLoading"
                                                                               data-src="{{'static/images/abcd3fda269fb7c999d8cc8bc9e6c0de.png'|base_url}}"
                                                                               src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
                                                                               alt=""/></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="do-block do-space do-23l9p">
                            <div class="do-element-space" style="padding-top:7.000000000000001%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>