<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>设计案例列表</h5>

                        <div class="ibox-tools">
                            <div class="text-muted small pull-right">
                                <a data-toggle="modal" class="btn btn-primary btn-xs"
                                   href="#modal-form">添加设计案例</a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="clients-list">
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                <th>ID</th>
                                                <th>案例名称</th>
                                                <th>风格</th>
                                                <th>设计师</th>
                                                <th>描述</th>
                                                <th>创建时间</th>
                                                <th>操作</th>
                                                </thead>
                                                <tbody>
                                                {{foreach $style_list as $style}}
                                                <tr>
                                                    <td class="cate-id">
                                                        {{$style.id}}
                                                    </td>
                                                    <td class="cate-name">
                                                        {{$style.name}}
                                                    </td>
                                                    <td class="cate-style">
                                                        {{$style.style}}
                                                    </td>
                                                    <td class="cate-designer">
                                                        {{$style.designer}}
                                                    </td>
                                                    <td class="cate-desc">
                                                        {{$style.desc}}
                                                    </td>
                                                    <td>
                                                        {{$style.create_time|date_format:"%Y-%m-%d %H:%m:%S"}}
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-xs btn-warning edit-btn
edit-btn" data-toggle="modal" href="#modal-edit-form">修改</a>&nbsp;&nbsp;<a class="btn btn-xs btn-primary " href="{{'company/style_pic'|base_url}}?case_id={{$style.id}}">上传图片</a>
                                                    </td>
                                                </tr>
                                                {{/foreach}}
                                                </tbody>
                                            </table>
                                        </div>
                                        {{$pagelist}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-form" class="modal fade" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="m-t-none m-b">添加设计案例</h3>

                            <form role="form" class="style-user" onsubmit="return false;">
                                <div class="form-group">
                                    <label>设计案例名称：</label>
                                    <input type="text" name="name" placeholder="请输入设计案例名称"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>设计风格：</label>
                                    <select class="form-control" name="style">
                                        <option value="">请选择设计风格</option>
                                        <option value="1">中式风格</option>
                                        <option value="2">田园地中海风格</option>
                                        <option value="3">美式风格</option>
                                        <option value="4">日式风格</option>
                                        <option value="5">简约风格</option>
                                        <option value="6">混搭风格</option>
                                        <option value="7">北欧风格</option>
                                        <option value="8">东南亚风格</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>指定设计师：</label>
                                    <select class="form-control" name="designer">
                                        <option value="">请选择设计师</option>
                                        {{foreach $designer_list as $designer}}
                                        <option value="{{$designer.id}}">{{$designer.designer}}</option>
                                        {{/foreach}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>设计案例介绍：</label>
                                    <textarea type="text" name="desc" placeholder="请填写设计案例介绍" class="form-control"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="add_style"
                                            type="submit">
                                        <strong>提交</strong>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-edit-form" class="modal fade" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="m-t-none m-b">修改设计案例</h3>

                            <form role="form" class="edit-style-user" onsubmit="return false;">
                                <input type="hidden" name="id" value="" />
                                <div class="form-group">
                                    <label>设计案例名称：</label>
                                    <input type="text" name="name" placeholder="请输入设计案例名称"
                                           class="form-control" value="">
                                </div>
                                <div class="form-group">
                                    <label>设计风格：</label>
                                    <select class="form-control style" name="style">
                                        <option value="">请选择设计风格</option>
                                        <option value="1">中式风格</option>
                                        <option value="2">田园地中海风格</option>
                                        <option value="3">美式风格</option>
                                        <option value="4">日式风格</option>
                                        <option value="5">简约风格</option>
                                        <option value="6">混搭风格</option>
                                        <option value="7">北欧风格</option>
                                        <option value="8">东南亚风格</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>指定设计师：</label>
                                    <select class="form-control designer" name="designer">
                                        <option value="">请选择设计师</option>
                                        {{foreach $designer_list as $designer}}
                                        <option value="{{$designer.id}}">{{$designer.designer}}</option>
                                        {{/foreach}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>设计案例介绍：</label>
                                    <textarea type="text" name="desc" placeholder="请填写设计案例介绍" class="form-control"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" id="edit_style"
                                            type="submit">
                                        <strong>提交</strong>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $(function () {
            $("#add_style").on("click", function () {
                $.post("{{'company/add_style'|base_url}}", $(".style-user").serialize(), function (res) {
                    if (res.ecode == 0) {
                        layer.msg(res.result);
                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
                    }
                    else {
                        layer.msg(res.emsg);
                    }
                })
            });
            $("#edit_style").on("click", function () {
                $.post("{{'company/edit_style'|base_url}}", $(".edit-style-user").serialize(), function (res) {
                    if (res.ecode == 0) {
                        layer.msg(res.result);
                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
                    }
                    else {
                        layer.msg(res.emsg);
                    }
                })
            });
            $(".edit-btn").on("click", function (res) {
                var id = $.trim($(this).parents("tr").find(".cate-id").text());
                var name = $.trim($(this).parents("tr").find(".cate-name").text());
                var desc = $.trim($(this).parents("tr").find(".cate-desc").text());
                var style = $.trim($(this).parents("tr").find(".cate-style").text());
                var designer = $.trim($(this).parents("tr").find(".cate-designer").text());
                console.log(desc);
                $("#modal-edit-form").find("input[name='name']").val(name);
                $("#modal-edit-form").find("input[name='id']").val(id);
                $("#modal-edit-form").find("textarea[name='desc']").val(desc);
                $("#modal-edit-form .style").find("option:contains('" + style + "')").attr("selected",true);
                $("#modal-edit-form .designer").find("option:contains('" + designer + "')").attr("selected",true);
            });
            $(".operate").on("click", function () {
                var userstatus = $(this).data("status");
                var id = $(this).data("id");
                $.post("{{'company/operate_style'|base_url}}", {id: id, status: userstatus}, function (res) {
                    if (res.ecode == 0) {
                        layer.msg(res.result);
                        setTimeout(function () {
                            window.location.reload();
                        }, 3000);
                    }
                    else {
                        layer.msg(res.emsg);
                    }
                });
            })
        })
    </script>