<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>欢迎登录</title>
    <link rel="icon" href="//www.jd.com/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="{{'static/css/login.css'|base_url}}" source="widget"/>
    <link href="{{'static/layer/css/layui.css'|base_url}}?v=3" type="text/css" rel="stylesheet">
    <script src="{{'static/js/jquery-1.11.3.min.js'|base_url}}"></script>
    <script src="{{'static/layer/layui.all.js'|base_url}}"></script>
</head>
<body>
<!-- SDK 登录 -->
<div class="w">
    <div id="logo">
        <a href="{{'/'|base_url}}">
            <img src="http://placehold.it/240x60&text=240x60 LOGO" alt="logo" width="240" height="60">
        </a>
    </div>
</div>
<div id="content">
    <div class="login-wrap">
        <div class="w">
            <div class="login-form">
                <div class="login-tab login-tab-l">
                    <a href="javascript:void(0)">账户登录</a>
                </div>
                <div class="login-box" style="display: block; visibility: visible;">
                    <div class="mt tab-h">
                    </div>
                    <div class="msg-wrap">
                        <div class="msg-error hide"><b></b></div>
                    </div>
                    <div class="mc">
                        <div class="form">
                            <form id="formlogin" method="post" onsubmit="return false;">
                                <div class="item item-fore1">
                                    <label for="user_name" class="login-label name-label"></label>
                                    <input id="user_name" type="text" class="itxt" name="user_name" tabindex="1"
                                           autocomplete="off"
                                           placeholder="邮箱/用户名/已验证手机"/>
                                    <span class="clear-btn"></span>
                                </div>

                                <div id="entry" class="item item-fore2" style="visibility: visible">
                                    <label class="login-label pwd-label"></label>
                                    <input type="password" name="pwd" class="itxt itxt-error"
                                           tabindex="2" autocomplete="off" placeholder="密码"/>
                                    <span class="clear-btn"></span>
                                    <span class="capslock"><b></b>大小写锁定已打开</span>
                                </div>


                                <div id="o-authcode" class="item item-vcode item-fore3 hide">
                                    <input id="authcode" type="text" class="itxt itxt02" name="authcode" tabindex="3"
                                           placeholder="输入图片文字">
                                    <img id="Verification1" class="verify-code"
                                         src="{{'passport/captcha'|base_url}}"
                                         onclick="this.src= document.location.protocol +'/passport/captcha?'+new Date().getTime();$('#authcode').val('');"/>
                                    <a href="javascript:void(0)"
                                       onclick="$('#Verification1').trigger('click');">看不清换一张</a>
                                </div>

                                <div class="item item-fore4">
                                    <div class="safe">
										<span>
                                                                             	</span>
                                        <span class="forget-pw-safe">
											<a href="/uc/links?tag=safe" class="" target="_blank"
                                               clstag="pageclick|keycount|201607144|3">忘记密码</a>
										</span>
                                    </div>
                                </div>

                                <div class="item item-fore5">
                                    <div class="login-btn">
                                        <a href="javascript:;" class="btn-img btn-entry" id="loginsubmit" tabindex="6"
                                           clstag="pageclick|keycount|201607144|3">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="coagent" id="kbCoagent">
                    <ul>
                        <li class="extra-r">
                            <div>
                                <div class="regist-link"><a href="{{'passport/register'|base_url}}"
                                                            target="_blank"><b></b>立即注册</a></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="login-banner" clstag="pageclick|keycount|20150112ABD|46">
            <div class="w">
                <div id="banner-bg" class="i-inner"
                >
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w">
    <div id="footer-2013">
        <div class="links">
            <a rel="nofollow" target="_blank" href="//www.jd.com/intro/about.aspx">
                关于我们
            </a>
            |
            <a rel="nofollow" target="_blank" href="//www.jd.com/contact/">
                联系我们
            </a>
            |
            <a rel="nofollow" target="_blank" href="//zhaopin.jd.com/">
                人才招聘
            </a>
            |
            <a rel="nofollow" target="_blank" href="//www.jd.com/contact/joinin.aspx">
                商家入驻
            </a>
            |
            <a rel="nofollow" target="_blank" href="//www.jd.com/intro/service.aspx">
                广告服务
            </a>
        </div>
        <div class="copyright">
            Copyright&nbsp;&copy;&nbsp;2004-2017&nbsp;&nbsp;&nbsp;版权所有
        </div>
    </div>
</div>
<script type="text/javascript">
    ~function () {
        var data = [{
            src: "{{'static/images/login/login_ad_1.jpg'|base_url}}",
            bgColor: "#b81a31",
            weight: "#b81a31"
        }, {
            src: "{{'static/images/login/login_ad_2.png'|base_url}}",
            bgColor: "E93854",
            weight: ""
        }];
        var getRandom = function (arr) {
            var _temp = 0, _random = 0, _weight, _newArr = [];
            for (var i = 0; i < arr.length; i++) {
                _weight = parseInt(arr[i].weight) ? parseInt(arr[i].weight) : 1;
                _newArr[i] = [];
                _newArr[i].push(_temp);
                _temp += _weight;
                _newArr[i].push(_temp);
            }
            _random = Math.ceil(_temp * Math.random());
            for (var i = 0; i < _newArr.length; i++) {
                if (_random > _newArr[i][0] && _random <= _newArr[i][1]) {
                    return arr[i];
                }
            }
        };
        var tpl = '<div class="login-banner" style="background-color: {bgColor}">\		              <div class="w">\			         <div id="banner-bg"  clstag="pageclick|keycount|20150112ABD|46" class="i-inner" style="background: url({imgURI}) 0px 0px no-repeat;background-color: {bgColor}"></div>\		              </div>\		           </div>';
        var bgData = getRandom(data);
        var bannerHtml = tpl.replace(/{bgColor}/g, bgData.bgColor).replace(/{imgURI}/g, bgData.src);
        $('.login-banner').replaceWith(bannerHtml);
    }();</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loginsubmit").on("click", function () {
            $.post("{{'passport/login'|base_url}}", $("#formlogin").serialize(), function (res) {
                if (res.ecode == 0) {
                    window.location.href = "{{'/'|base_url}}";
                }
                else {
                    layer.msg(res.emsg);
                }

            });
        })
    })
</script>
<!-- SDK 登录 -->
</body>
</html>
